name: Shapes Demo Ubuntu CI (nightly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  nightly-ubuntu-ci-master:
    uses: eProsima/ShapesDemo/.github/workflows/reusable-ubuntu-ci.yml@master
    with:
      os-version: 'ubuntu-22.04'
      label: 'nightly-ubuntu-ci-master'
      shapes-demo-branch: 'master'
      fastdds-branch: 'master'
      run-build: true
      use-ccache: false

  nightly-ubuntu-ci-3_2_x:
    uses: eProsima/ShapesDemo/.github/workflows/reusable-ubuntu-ci.yml@3.2.x
    with:
      os-version: 'ubuntu-22.04'
      label: 'nightly-ubuntu-ci-3.2.x'
      shapes-demo-branch: '3.2.x'
      fastdds-branch: '3.2.x'
      run-build: true
      use-ccache: false

  nightly-ubuntu-ci-2_14_x:
    uses: eProsima/ShapesDemo/.github/workflows/reusable-ubuntu-ci.yml@2.14.x
    with:
      os-version: 'ubuntu-22.04'
      label: 'nightly-ubuntu-ci-2.14.x'
      shapes-demo-branch: '2.14.x'
      fastdds-branch: '2.14.x'
      run-build: true
      use-ccache: false
