name: Shapes Demo Windows CI (nightly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  nightly-windows-ci-master:
    strategy:
      fail-fast: false
      matrix:
        vs-toolset:
          - 'v142'
          - 'v143'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@master
    with:
      os-version: 'windows-2022'
      vs-toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-windows-${{ matrix.vs-toolset }}-ci-master'
      shapes-demo-branch: 'master'
      fastdds-branch: 'master'
      run-build: true

  nightly-windows-ci-3_4_x:
    strategy:
      fail-fast: false
      matrix:
        vs-toolset:
          - 'v142'
          - 'v143'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@3.4.x
    with:
      os-version: 'windows-2022'
      vs-toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-windows-${{ matrix.vs-toolset }}-ci-3.4.x'
      shapes-demo-branch: '3.4.x'
      fastdds-branch: '3.4.x'
      run-build: true

  nightly-windows-ci-3_3_x:
    strategy:
      fail-fast: false
      matrix:
        vs-toolset:
          - 'v142'
          - 'v143'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@3.3.x
    with:
      os-version: 'windows-2022'
      vs-toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-windows-${{ matrix.vs-toolset }}-ci-3.3.x'
      shapes-demo-branch: '3.3.x'
      fastdds-branch: '3.3.x'
      run-build: true

  nightly-windows-ci-3_2_x:
    strategy:
      fail-fast: false
      matrix:
        vs-toolset:
          - 'v142'
          - 'v143'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@3.2.x
    with:
      os-version: 'windows-2022'
      vs-toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-windows-${{ matrix.vs-toolset }}-ci-3.2.x'
      shapes-demo-branch: '3.2.x'
      fastdds-branch: '3.2.x'
      run-build: true

  nightly-windows-ci-2_14_x:
    strategy:
      fail-fast: false
      matrix:
        vs-toolset:
          - 'v142'
          - 'v143'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@2.14.x
    with:
      os-version: 'windows-2022'
      vs-toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-windows-${{ matrix.vs-toolset }}-ci-2.14.x'
      shapes-demo-branch: '2.14.x'
      fastdds-branch: '2.14.x'
      run-build: true
