name: Shapes Demo Windows CI (nightly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  nightly-windows-ci-master:
    strategy:
      fail-fast: false
      matrix:
        os-version:
          - 'windows-2019'
        vs-toolset:
          - 'v142'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@master
    with:
      os-version: ${{ matrix.os-version }}
      vs.toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-${{ matrix.os-version }}-${{ matrix.vs-toolset }}-ci-master'
      shapes-demo-branch: 'master'
      fastdds-branch: 'master'
      run-build: true

  nightly-windows-ci-2_14_x:
    strategy:
      fail-fast: false
      matrix:
        os-version:
          - 'windows-2019'
        vs-toolset:
          - 'v141'
          - 'v142'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@2.14.x
    with:
      os-version: ${{ matrix.os-version }}
      vs.toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-${{ matrix.os-version }}-${{ matrix.vs-toolset }}-ci-2.14.x'
      shapes-demo-branch: '2.14.x'
      fastdds-branch: '2.14.x'
      run-build: true

  nightly-windows-ci-2_13_x:
    strategy:
      fail-fast: false
      matrix:
        os-version:
          - 'windows-2019'
        vs-toolset:
          - 'v141'
          - 'v142'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@2.13.x
    with:
      os-version: ${{ matrix.os-version }}
      vs.toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-${{ matrix.os-version }}-${{ matrix.vs-toolset }}-ci-2.13.x'
      shapes-demo-branch: '2.13.x'
      fastdds-branch: '2.13.x'
      run-build: true

  nightly-windows-ci-2_10_x:
    strategy:
      fail-fast: false
      matrix:
        os-version:
          - 'windows-2019'
        vs-toolset:
          - 'v141'
          - 'v142'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@2.10.x
    with:
      os-version: ${{ matrix.os-version }}
      vs.toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-${{ matrix.os-version }}-${{ matrix.vs-toolset }}-ci-2.10.x'
      shapes-demo-branch: '2.10.x'
      fastdds-branch: '2.10.x'
      run-build: true

  nightly-windows-ci-2_6_x:
    strategy:
      fail-fast: false
      matrix:
        os-version:
          - 'windows-2019'
        vs-toolset:
          - 'v141'
          - 'v142'
    uses: eProsima/ShapesDemo/.github/workflows/reusable-windows-ci.yml@2.6.x
    with:
      os-version: ${{ matrix.os-version }}
      vs.toolset: ${{ matrix.vs-toolset }}
      label: 'nightly-${{ matrix.os-version }}-${{ matrix.vs-toolset }}-ci-2.6.x'
      shapes-demo-branch: '2.6.x'
      fastdds-branch: '2.6.x'
      run-build: false
